<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-bluetooth" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Bluetooth</name>
	<js-module name="Bluetooth" src="www/Bluetooth.js">
		<clobbers target="Bluetooth" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="Bluetooth">
				<param name="android-package" value="cordova.plugin.bluetooth.Bluetooth" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" >
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
			<uses-permission android:name="android.permission.BLUETOOTH"/>
			<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
		</config-file>
		<source-file src="src/android/Bluetooth.java" target-dir="src/cordova/plugin/bluetooth/Bluetooth" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="Bluetooth">
				<param name="ios-package" value="Bluetooth" />
			</feature>
		</config-file>
		<source-file src="src/ios/Bluetooth.m" />
	</platform>
</plugin>